homelab.local {
	reverse_proxy homarr:7575
}

portainer.homelab.local {
	reverse_proxy portainer:9000
}

ollama.homelab.local {
	reverse_proxy ollama:11434
}

google.homelab.local {
	reverse_proxy whoogle:5000
}
